# 네이버 영화
- 영화랭킹에서  평점순 영화명, 평점 추출함
- movie_name_list
- movie_point_list

In [9]:
import requests
from bs4 import BeautifulSoup
import datetime

In [20]:
def get_naver_movie(sel='cur', date='20210526'):  
    url = 'https://movie.naver.com/movie/sdb/rank/rmovie.nhn'
    params = {'sel':sel,'date':date }
    response = requests.get(url, params=params)
    s_code = response.status_code
    if s_code == 200:
        text = response.text
        soup = BeautifulSoup(text)
    else:
        soup = 'Error:' + s_code
    return soup

In [52]:
def get_date(day):
    now = datetime.datetime.now()
    ret_date = now + datetime.timedelta(days=day)
    print(ret_date.strftime('%Y%m%d'))
    return ret_date.strftime('%Y%m%d')

In [ ]:
def movie_view(soup):
    movie_table = soup.select_one('table.list_ranking')
    movie_tbody = movie_table.select_one('tbody')
    movie_tr = movie_tbody.select('tr')
    for movie_tr_one in movie_tr:
        title = movie_tr_one.select_one('a[title]')
        point = movie_tr_one.select_one('td.point')
        if title:
            title = title.text
        else:
            continue
        if point:
            point = point.text
        else:
            continue
        print(title, point)

In [22]:
soup = get_naver_movie()
#soup

In [25]:
movie_table = soup.select_one('table.list_ranking')

In [29]:
movie_tbody = movie_table.select_one('tbody')
#movie_tbody

In [31]:
movie_tr = movie_tbody.select('tr')
len(movie_tr)

56

In [48]:
movie_tr_one = movie_tr[1]
#movie_tr_one

In [41]:
title = movie_tr_one.a['title']
point = movie_tr_one.select_one('td.point').text
title,point

('크루엘라', '9.58')

## 실행해보기

In [54]:
d = int(input('날짜 : '))
date = get_date(-d)
soup = get_naver_movie(sel='cur', date=date)
movie_view(soup)

날짜 : 100
20210216
그린 북 9.59
원더 9.51
극장판 바이올렛 에버가든 9.50
서유기 2 - 선리기연 9.36
부활: 그 증거 9.34
소울 9.32
극장판 귀멸의 칼날: 무한열차편 9.22
서유기 - 월광보합 9.21
해피 투게더 9.17
러브레터 9.12
싸이코 9.09
타오르는 여인의 초상 9.06
굿바이 9.04
남매의 여름밤 8.96
러브 액츄얼리 8.93
스포트라이트 8.93
족벌 두 신문 이야기 8.89
이별의 아침에 약속의 꽃을 장식하자 8.85
작은 아씨들 8.83
너의 이름은. 8.79
화양연화 8.77
찬실이는 복도 많지 8.74
맨체스터 바이 더 씨 8.72
현기증 8.72
캐롤 8.60
백엔의 사랑 8.51
아비정전 8.50
세자매 8.46
너의 췌장을 먹고 싶어 8.36
초속5센티미터 8.36
콜드 워 8.26
하나와 앨리스 8.11
너의 췌장을 먹고 싶어 8.08
문라이트 8.07
더 울프 오브 월 스트리트 8.05
해리 포터와 불의 잔 8.01
일대종사 8.00
날씨의 아이 7.96
어니스트 씨프 7.94
명탐정 코난: 진홍의 수학여행 7.56
만추 7.42
도굴 7.28
새해전야 7.20
몬스터 헌터 6.67
쏘아올린 불꽃, 밑에서 볼까? 옆에서 볼까? 6.56